<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        tools:targetApi="31">
        <activity
            android:name=".Librarian.BorrowStudentDetails"
            android:exported="false"
            android:label="Student Borrow Information"
            android:parentActivityName=".Librarian.StudentBookReq"/>
        <activity
            android:name=".Librarian.StudentBookReq"
            android:exported="false" />
        <activity
            android:name=".Student.StudentAccountInformationX"
            android:exported="false" />
        <activity
            android:name=".Student.BorrowBookActivity"
            android:exported="false" />
        <activity
            android:name=".Librarian.StudentAccountInformation"
            android:exported="false" />
        <activity
            android:name=".Student.StudentBookDetails"
            android:exported="false" />
        <activity
            android:name=".Student.StudentBookListActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.DashboardLibrarian"
            android:exported="false" />
        <activity
            android:name=".Librarian.StudentActivityList"
            android:exported="false"
            android:label="Student List"
            android:parentActivityName=".Librarian.UpdateBookActivity" />
        <activity
            android:name=".Student.UpdateStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.DashboardStudent"
            android:exported="false" />
        <activity
            android:name=".MainLogin.StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Student.RegisterStudentActivity"
            android:exported="false" />
        <activity
            android:name=".MainLogin.LibrarianLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainLogin.MainLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Librarian.BookDetails"
            android:exported="false" />
        <activity
            android:name=".Librarian.UpdateBookActivity"
            android:exported="false"
            android:label="Update Book"
            android:parentActivityName=".Librarian.BookListActivity" />
        <activity
            android:name=".Librarian.AddingBookActivity"
            android:exported="false"
            android:label="Adding Book"
            android:parentActivityName=".Librarian.BookListActivity" />
        <activity
            android:name=".Librarian.BookListActivity"
            android:exported="false" />
        <activity
            android:name=".SplashMain.MainActivity"
            android:exported="true"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>